
.header{
  background-image: url('https://www.walldevil.com/wallpapers/a59/white-yellow-field-black-wallpaper-image.jpg');
  background-repeat:no-repeat;
  background-position:center;
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
}

.header h1{
font-size: 25px;
}

.header h2{
font-size: 20px;
margin-top:5px;
}
